[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
touch = "*"
httpx = "*"
pandas = "*"
scikit-learn = "*"
pytest = "*"
requests = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test = "pytest"
